*,
*::before,
*::after {
    box-sizing: border-box;
}

/* VARIABELS */
:root {
    /* COLOURS */
    --darkcolor: rgb(63, 40, 31);
    --brightcolor: rgb(237, 229, 212);
    --accentcolor: rgb(162, 201, 222);
    --sectioncolor-dark: rgb(68, 43, 34);
    --mobil-nav: rgb(68, 43, 34, 0.496);
    --background-color: rgb(255, 255, 255); 

    /* FONTS */
    --font-family: "Raleway", sans-serif;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-size-h1: 5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1rem;
    --font-header-spaceing: 0.3rem;
    --line-height: 1.4;

    /* SYMBOLS */
    --header-symbol-size: 0.8rem;
    --mobil-symbol-size: 2rem;

    /* BORDERRULES */
    --border-radius: 10px;
    --border-radius-link: 999px;
    --mobil-nav-padding: 2rem;

    /* CONTAINERRULES */
    --container-spaceing: 1rem;
    --container-max-width: min(90vw, 1200px);
    --container-margin: 1rem auto 0 auto;
    --container-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ONE RULE TO RULE THEM ALL */
.social-icon, .copyright-symbol {
    height: var(--header-symbol-size);
    width: var(--header-symbol-size);
    
    stroke: var(--darkcolor);
}

h1 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--font-header-spaceing);
}

a {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--darkcolor);
}

img {
    filter: grayscale(100%);
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    line-height: var(--line-height);

    background-color: var(--brightcolor);
    font-family: var(--font-family);
    color: var(--darkcolor);  
}

/* HEADER */
 header {
   display: inline-block;
}

.desktop-only {
    display: none;
}

.logo {
    padding: 0.15rem;

    border: 1px solid var(--darkcolor);
    border-radius: 50%;

    font-size: var(--header-symbol-size);
}

.mobil-only {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    
    width: 100%;

    padding: var(--mobil-nav-padding);

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--mobil-nav);
    backdrop-filter: blur(10px);

    z-index: 10;
}

.mobil-only a svg {
    height: var(--mobil-symbol-size);
    width: var(--mobil-symbol-size);
    
    color: var(--brightcolor);
}

/* MAIN */
main {
    flex: 1;
}

/* FOOTER */
footer {
    display: none;
}

.copyright-symbol {
    vertical-align: middle;
}

a:focus, button:focus {
    border-radius: var(--border-radius);
    outline: 2px solid var(--accentcolor);
    outline-offset: 2px;  
}

/* RESPONS */
/* LARGER PHONE */
@media (min-width: 640px){

    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:100%
        }
}

/* IPAD */
@media (min-width: 768px) {

    header {
        justify-content: flex-end;
        }

    .desktop-only {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0.8rem;
        right: 2rem;
        gap: 0.5rem;
        }

    .logo {
        margin-right: 28rem;
        margin-top: 0.2rem;
        padding: 0.15rem;
        border: 1px solid var(--darkcolor);
        border-radius: 50%;
        font-size: var(--header-symbol-size);
        }

    .mobil-only {
        display: none;
        }

    footer {
        display:flex;
        justify-content: flex-end;
        }
}

/* DESKTOP */
@media (min-width: 1024px) {

    a:hover, .logo:hover,.social-icon:hover {
        color: var(--accentcolor);
        stroke: var(--accentcolor);
        }

    img:hover {
        filter: grayscale(0%);
        }

    .desktop-only {
        letter-spacing: 0.3rem;
        }

    .logo {
        margin-right: 40rem;
        }
}